*.pyc
*.meta
*.ckpt
*.tar.gz
src/checkpoint
src/reader_test.py

#dataset ignore
dataset/NREL_SSRL_BMS_IRANDMETE/raw_data/
dataset/NREL_SSRL_BMS_IRANDMETE/input_data/train
dataset/NREL_SSRL_BMS_IRANDMETE/input_data/validation
dataset/NREL_SSRL_BMS_IRANDMETE/input_data/test
dataset/NREL_SSRL_BMS_IRANDMETE/input_data/README
dataset/NREL_SSRL_BMS_IRANDMETE/input_data/200011201205/
dataset/NREL_SSRL_BMS_IRANDMETE/input_data/200601201205/

dataset/NREL_SSRL_BMS_SKY_CAM/raw_data/
dataset/NREL_SSRL_BMS_SKY_CAM/input_data/*.csv
dataset/NREL_SSRL_BMS_SKY_CAM/input_data/train
dataset/NREL_SSRL_BMS_SKY_CAM/input_data/test
dataset/NREL_SSRL_BMS_SKY_CAM/input_data/validation
dataset/NREL_SSRL_BMS_SKY_CAM/input_data/README

#reference ignore
References/

#sftp ignore
.ftpconfig

# for mac
**/.Ds_Store

output_model_1/
saved_model_1/
